body {
    margin: 0;
    height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/3. Background/Layers/5. Water/D2.png');
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: 'Luckiest_Guy';
    src: url('/assets/5.Font/LuckiestGuy-Regular.ttf');
}

h1 {
    font-family: 'Luckiest_Guy';
    font-size: 48px;
    font-weight: 200;
    text-shadow: 4px 4px 6px black;
}

canvas {
    display: block;
}

.controls-image {
    display: flex;
    justify-content: center;
    height: 320px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}