body {
    margin: 0;
    height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/7.Website_Background/Sharky-BGPN2.jpg');
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: 'Luckiest_Guy';
    src: url('/assets/5.Font/LuckiestGuy-Regular.ttf');
}

canvas {
    display: block;
}

h1 {
    font-family: 'Luckiest_Guy';
    font-size: 48px;
    font-weight: 200;
    text-shadow: 4px 4px 6px black;
}

h3 {
    color: white;
    font-family: 'Luckiest_Guy';
    font-size: 24px;
    font-weight: 200;
    margin-top: 10px;
    letter-spacing: 2px;
}

#controls {
    display: flex;
    margin-top: 20px;
    gap: 12px;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spacebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-image {
    height: 100px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}